
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --background: #000;
    --text-color: #FFF;
    --button: #8257E5;
    --border: #29292E;
    --border-menu-mobile: #A8A8B3;
    --text-color-menu-mobile: #E1E1E6;
}

html {
    overflow-x: hidden;
}

body {
    background: var(--background);
    position: relative;
}

body .lights img:nth-child(2){
    position: absolute;
    top: 0;
    right: 0px;
    width: 300px;
    z-index: -2;
}

body .lights img:nth-child(3){
    display: none;
}

body .lights img:nth-child(1){
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 500px;
    z-index: -2;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items:center;
}

section header{
    width: 100%;
    height: 89px;
}

section header nav {
    display: flex;
    align-items:center;
    justify-content:space-around;
    margin: 20px 10px 0px 100px;
}

button{
    background: transparent;
    border:1px solid var(--button);
    border-radius: 8px;
    padding: 10px 40px;
    color: white;
    font-family: "manrope";
    font-weight: 700;
}



button:hover{
    background: var(--button);
    cursor:pointer;
    transition: 0.25s ease;
}

.lista-mobile{
    opacity: 0;
    visibility: hidden;
}

section header nav .menu img{
    display: none;
}

section header nav ul {
    display: flex;
    align-items: center
}

section header nav ul li{
    margin: 15px;
    position: relative;
}

section header nav ul li::after{
    position: absolute;
    content: " ";
    bottom: 0;
    left: 0;
    width: 0%;
    transition: width .35s ease;
    height: 2px;
    background: var(--button);
}

section header nav ul li:Hover::after{
    width: 100%;
}

section header nav ul li a{
    text-decoration: none;
    color: white;
    font-family: "manrope";
    font-weight: 400;
}


section header nav ul li a:hover{
    font-weight:700;
    color: var(--button);
}


section header nav .logo img:nth-child(2){
    display: none;
}


section header nav .logo img:nth-child(3){
    display: none;
}

section main .text-mobile{
    display: none;
}

section main .titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "manrope";

}

section main .titles h1{
    color: white;
    font-size: 2.7rem;
    font-weight: 700;
}

section main .titles h2{
    text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
    font-size: 2.7rem;
    font-weight: 700;

}

@media (max-width: 796px){
    body .lights img:nth-child(1){
      display: none;
    }


    section header nav .logo img:nth-child(1){
        display: none;
    }

    section header nav .logo img:nth-child(2){
        display: block;
    }

    section header nav ul{
        display: none
    }

    section header nav button{
        display: none;
    }

    section header nav .menu img{
    display: block;
    width: 30px;
    cursor: pointer;
}

section .img-coffee {
    margin: 20px;
}

    section .img-coffee img{ width: 100%;    }

    body .lights img:nth-child(1){
        position: absolute;
        bottom: -45px;
        width: 400px;
        z-index: -2;
        display: none;
    }
    
    body .lights img:nth-child(2){
        position: absolute;
        top: 0;
        right: 0px;
        width: 300px;
        z-index: -2;
        display: none;
    }
}

@media (max-width: 656px){

    section header nav{
        margin: 20px 0;
    }

    .lista-mobile{
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        left:0;
        background: var(--background);
        height: 100vh;
        width: 100%;
        margin:0;
        display: block;
        z-index: 0;
    }

    .lista-mobile.ativo{
        opacity: 1;
        visibility: visible;
        z-index: 1;
        transition: transform .25s ease;
    }

    .lista-mobile #close{
        cursor:pointer;
    }

    .lista-mobile .logo-menu{
        display: flex;
        align-items: center;
        margin: 30px;
        justify-content: space-between;
    }

    .lista-mobile ul {
        display: flex;
        flex-direction: column;   
    }

    .lista-mobile ul li{
        width: 100%;
        padding: 15px;
        margin: 0;
        border-top: 1px solid var(--border-menu-mobile);
        border-bottom: 1px solid var(--border-menu-mobile);
        font-weight: 400;
        color: var(--text-color-menu-mobile);
        position: relative;
    }

    body .lista-mobile ul li a::after{
        content: " ";
        top: 0;
        left: 0;
        width: 0;
    }

    .lista-mobile ul li a:hover::after{
        position: absolute;
        width: 2%;
        height: 100%;
        background-color: var(--button);
        transition: all 0.25s ease;
    }

    .lista-mobile ul li a{
        font-weight: 400;
        font-family: "manrope"
    }

    .lista-mobile ul li a:hover{
        padding-left: 10px;
        transition: all .25s ease;
    }

    button {
        display: none;
    }

    .btn {
        display: flex;
        align-items: center;
    }
    
    .btn > img {
        margin-left: 10px;
    }

    section main .text-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: white;
        font-family: "Manrope";
        padding: 20px
    }

    section main .text-mobile button{
        cursor: pointer
    }

    section main .text-mobile h3{
        text-align: center;
        padding: 10px;
        margin-bottom: 5px;
        font-size: 1rem;
    }

    section main .titles {
        display: block;
        text-align: center;
        margin: 15px;
    }

    section main .titles h1,
    section main .titles h2 {
        font-size: 2rem;
    }


    body .lights img:nth-child(3){
        position: absolute;
        bottom: 0;
        z-index: -1;
        width: 300px;
        display: block;
      }

      body {
          overflow-x: hidden;
      }
}
